{
    "additionalProperties": {
        "cxFlow": {
            "filters": {
                "severity": ["High", "Medium"]
            },
            "thresholds": {
                "MEDIUM": 14,
                "LOW": 15
            },
            "bugTracker": "GitHub",
	    "vulnerabilityScanners": ["sca", "sast"]
        }
    },
	"sca": {
		"appUrl": "sampleAppUrl",
		"apiUrl": "sampleApiUrl",
		"accessControlUrl": "sampleAccessControlUrl",
		"tenant": "sampleTenant",
		"thresholdsSeverity": {
			"HIGH": 10,
			"MEDIUM": 6,
			"LOW": 3
		},
		"thresholdsScore": 8.5,
		"filterSeverity": ["high", "medium", "low"],
		"filterScore": 7.5
	}
}
