{
    "additionalProperties": {
        "cxFlow": {
            "filters": {
                "severity": ["High", "Medium"]
            },
            "thresholds": {
                "MEDIUM": 14,
                "LOW": 15
            },
            "bugTracker": "GitHub",
			"enabledVulnerabilityScanners": {
				"sca", "sast"
			}
        }
    }
}