{
    "additionalProperties": {
        "cxFlow": {
            "filters": {
                "severity": ["High", "Medium"]
            },
            "thresholds": {
                "MEDIUM": 14,
                "LOW": 15
            },
            "bugTracker": "GitHub",
			"vulnerabilityScanners": ["sca", "sast"]
        }
    },
	"sca": {
		"appUrl": "sampleAppUrl",
		"apiUrl": "sampleApiUrl",
		"accessControlUrl": "sampleAccessControlUrl",
		"tenant": "sampleTenant"
	}
}